:root {
    --background-color: #c1d3f180;
    --field-color: #ffffff;
    --player-one-color: #ff0000;
    --player-two-color: #0000ff;
    --hover-color: #fbfb003f;
    --button-hover-color: #ccb1b1;

    --simple-border: 1px solid #000000;
    --invisible-border: 1px solid var(--background-color);
    --input-shadow:  0px 2px 3px #00000050;
    --gameboard-shadow: 0px 2px 5px #00000050;

    --field-size: 150px;
    --text-size: calc(var(--field-size) / 2.5);
    --field-text-size: calc(var(--field-size) / 2);
    --restart-text-size: 1rem;
    --radius-round: 100%;

    --container-gap: 1rem;
    --form-gap: 3rem;
    --standard-margin: 1rem 0;
    --label-margin: 0 0 0.5rem 0;
    --button-padding: 1px 3px;
    --big-button-padding: 2px 6px;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

.topText {
    margin: var(--standard-margin);
    font-size: var(--text-size);
    justify-self: center;
}

.gameboard {
    margin: var(--standard-margin);
    display: grid;
    grid-template-columns: repeat(3, var(--field-size));
    grid-template-rows: repeat(3, var(--field-size));
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--field-color);
    border: var(--simple-border);
    box-shadow: var(--gameboard-shadow);
}

.field:hover:empty {
    background-color: var(--hover-color);
}

.playerOne, .playerTwo {
    font-size: var(--field-text-size);
}

.playerOne {
    color: var(--player-one-color);
}

.playerTwo {
    color: var(--player-two-color);
}

.bottom-container {
    display: flex;
    justify-content: center;
    gap: var(--container-gap);
}

#change-name-form {
    display: flex;
    justify-content: center;
    gap: var(--form-gap);
}

.playerLabel {
    display: block;
    margin: var(--label-margin);
}

.playerInput {
    border: var(--invisible-border);
    width: var(--field-size);
}

#changeOne, #changeTwo {
    border: var(--invisible-border);
    border-radius: var(--radius-round);
    padding: var(--button-padding);
}

.restart {
    margin: var(--standard-margin);
    padding: var(--big-button-padding);
    font-size: var(--restart-text-size);

    display: flex;
    justify-self: center;

    border: var(--invisible-border);
    border-radius: var(--radius-round);
}

.restart:hover, #changeOne:hover, #changeTwo:hover {
    background-color: var(--button-hover-color);
}

.shadow {
    box-shadow: var(--input-shadow);
}