:root {
    --player-one-color: #ff0000;
    --player-two-color: #0000ff;
    --hover-color: #fbfb003f;
    --simple-border: 1px solid #000000; 
    --field-size: 150px;
    --text-size: calc(var(--field-size) / 2.5);
    --field-text-size: calc(var(--field-size) / 2);
    --standard-gap: 1rem 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

.topText {
    margin: var(--standard-gap);
    font-size: var(--text-size);
    justify-self: center;
}

.gameboard {
    margin: var(--standard-gap);

    display: grid;
    grid-template-columns: repeat(3, var(--field-size));
    grid-template-rows: repeat(3, var(--field-size));
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;

    border: var(--simple-border);
}

.field:hover:empty {
    background-color: var(--hover-color);
}

.playerOne, .playerTwo {
    font-size: var(--field-text-size);
}

.playerOne {
    color: var(--player-one-color);
}

.playerTwo {
    color: var(--player-two-color);
}

.restart {
    display: flex;
    justify-self: center;
}