:root {
    --background-color: #c1d3f180;
    --field-color: #ffffff;
    --player-one-color: #ff0000;
    --player-two-color: #0000ff;
    --hover-color: #fbfb003f;
    --simple-border: 1px solid #000000;
    --input-shadow:  0px 2px 3px #00000050;
    --gameboard-shadow: 0px 2px 5px #00000050;
    --field-size: 150px;
    --text-size: calc(var(--field-size) / 2.5);
    --field-text-size: calc(var(--field-size) / 2);
    --form-gap: 3rem;
    --standard-margin: 1rem 0;
}

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: var(--background-color);
}

.topText {
    margin: var(--standard-margin);
    font-size: var(--text-size);
    justify-self: center;
}

.gameboard {
    margin: var(--standard-margin);
    display: grid;
    grid-template-columns: repeat(3, var(--field-size));
    grid-template-rows: repeat(3, var(--field-size));
    justify-content: center;
}

.field {
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--field-color);
    border: var(--simple-border);
    box-shadow: var(--gameboard-shadow);
}

.field:hover:empty {
    background-color: var(--hover-color);
}

.playerOne, .playerTwo {
    font-size: var(--field-text-size);
}

.playerOne {
    color: var(--player-one-color);
}

.playerTwo {
    color: var(--player-two-color);
}

.restart {
    margin: var(--standard-margin);
    display: flex;
    justify-self: center;
}

#change-name-form {
    display: flex;
    justify-content: center;
    gap: var(--form-gap);
}

.playerLabel, .playerInput {
    display: block;
    margin-bottom: 0.5rem;
}

.playerInput {
    border-width: 1px;
}

.shadow {
    box-shadow: var(--input-shadow);
}